button{
  height: 50px;
  margin: 20px auto;
  display: block;
  border-radius: 0px;
  border: none;
  color: #fff;
  font-size: 1.5em;
  background-color: cadetblue;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  padding: 0 2rem;
}
.botao-contato{
  width: 94%;
}
.botao-analise{
  padding: 0.3rem 3rem;
  box-sizing: border-box;
}
